[user]
        email =
        name =
[color "status"]
        branch = yellow bold
[alias]
        st = status
        pl = pull
        ps = push
        br = branch
        ch = checkout
        c = commit
